<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>My Album</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'myboard/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'myboard/vendors/css/vendor.bundle.base.css'%}">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'myboard/css/style.css'%}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{%static 'myboard/images/favicon.png'%}">
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="/"><img src="{% static 'myboard/images/logo.png'%}" alt="logo"></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{%static 'myboard/images/logo-mini.svg'%}" alt="logo"></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <div class="search-field d-none d-md-block">
          <form class="d-flex align-items-center h-100" action="#">
            <div class="input-group">
              <div class="input-group-prepend bg-transparent">
                  <i class="input-group-text border-0 mdi mdi-magnify"></i>                
              </div>
              <input type="text" class="form-control bg-transparent border-0" placeholder="Search Songs">
            </div>
          </form>
       
        </div>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <div class="nav-profile-img">
                <img src="{% static 'myboard/images/faces/face1.jpg'%}" alt="image">
                <span class="availability-status online"></span>             
              </div>
              <div class="nav-profile-text">
                <p class="mb-1 text-black">IU1004</p>
              </div>
            </a>
            <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="#">
                <i class="mdi mdi-cached mr-2 text-success"></i>
                활동 로그
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <i class="mdi mdi-logout mr-2 text-primary"></i>
                로그아웃
              </a>
            </div>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <i class="mdi mdi-email-outline"></i>
              <span class="count-symbol bg-warning"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
              <h6 class="p-3 mb-0">메세지</h6>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                    <img src="{% static 'myboard/images/faces/face4.jpg'%}" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                  <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Mark에게 온 메시지</h6>
                  <p class="text-gray mb-0">1분 전</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                    <img src="{%static 'myboard/images/faces/face2.jpg'%}" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                  <h6 class="preview-subject ellipsis mb-1 font-weight-normal">IU에게 온 메시지</h6>
                  <p class="text-gray mb-0">8분 전</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                    <img src="{%static 'myboard/images/faces/face3.jpg'%}" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                  <h6 class="preview-subject ellipsis mb-1 font-weight-normal">KIM에게 온 메시지</h6>
                  <p class="text-gray mb-0">15분 전</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <h6 class="p-3 mb-0 text-center">3개의 새로운 메세지</h6>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="mdi mdi-bell-outline"></i>
              <span class="count-symbol bg-danger"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <h6 class="p-3 mb-0">활동 알림</h6>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="mdi mdi-calendar"></i>
                  </div>
                </div>
                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                  <h6 class="preview-subject font-weight-normal mb-1">오늘의 이벤트</h6>
                  <p class="text-gray ellipsis mb-0">
                    "IU-밤편지" 10% 추가 세일
                  </p>
                </div>
              </a>
              
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-info">
                    <i class="mdi mdi-diamond mdi-24px float-right"></i>
                  </div>
                </div>
                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                  <h6 class="preview-subject font-weight-normal mb-1">구매 요청</h6>
                  <p class="text-gray ellipsis mb-0">
                    "IU-밤편지"에 대한 구매요청이 있습니다.
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <h6 class="p-3 mb-0 text-center">모든 알림 보기</h6>
            </div>
          </li>
          <li class="nav-item nav-logout d-none d-lg-block">
            <a class="nav-link" href="#">
              <i class="mdi mdi-power"></i>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
              <div class="nav-profile-image">
                <img src="{%static 'myboard/images/faces/face1.jpg'%}" alt="profile">
                <span class="login-status online"></span> <!--change to offline or busy as needed-->              
              </div>
              <div class="nav-profile-text d-flex flex-column">
                <span class="font-weight-bold mb-2">IU1004</span>
                <span class="text-secondary text-small">Listener</span>
              </div>
              <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="menu-title">내 앨범</span>
              <i class="mdi mdi-contacts menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-title">내 플레이리스트</span>
              <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="#">드라이브</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">운동</a></li>
              </ul>
            </div>
          </li>
         
          <li class="nav-item sidebar-actions">
            <span class="nav-link">
              <div class="border-bottom">
                <h6 class="font-weight-normal mb-3">음원 지분 경매장</h6>
              </div>
              <a href="{% url 'auction:auction_list'%}" style="text-decoration:none">
                <button class="btn btn-block btn-lg btn-gradient-primary mt-4">지분 구매</button>
              </a>
              
              <div class="mt-4">
                <div class="border-bottom">
                  <p class="text-secondary">역할 전환</p>                  
                </div>
                <ul class="gradient-bullet-list mt-4">
                  <li>Artist</li>
                  <li>Listener</li>
                </ul>
                <a href="{%url 'myboard:upload_file'%}" style="text-decoration:none">
                        <button class="btn btn-block btn-lg btn-gradient-primary mt-4">내 음원 올리기</button>
                  </a>
              </div>
            </span>
          </li>
        </ul>
      </nav>
      <!-- partial -->
     
      <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title">
                    <span class="page-title-icon bg-gradient-primary text-white mr-2">
                    <i class="mdi mdi-cloud"></i>               
                    </span>
                    스트리밍
                </h3>
            </div>
          <div class="row">
            <div class="col-12">
                <center>
                    <div class="col-md-4">
                        <img style="border-radius: 10px !important;" src="{%static 'myboard/images/IU.png'%}" alt="IU" width="200px" height="200px"> 
                    </div>
                </center>
              
              <center><audio controls class="col-8">
                    <source src="{% static 'myboard/IU_Through_the_Night.mp3' %}" type="audio/mpeg">
              </audio></center>
            </div>
          </div>

          <div class="page-header">
            <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-contacts menu-icon"></i>               
              </span>
              내 앨범
            </h3>
          </div>
          <div class="row">
            <div class="col-md-2 stretch-card grid-margin">
                <a href="#">
                    <img style="border-radius: 10px !important;" src="{%static 'myboard/images/IU-BBIBBI.png'%}" alt="IU" width="200px" height="200px">
                </a>
            </div>
            <div class="col-md-2 stretch-card grid-margin">
                <a href="#">
                    <img style="border-radius: 10px !important;" src="{%static 'myboard/images/ed.png'%}" alt="ED" width="200px" height="200px"> 
                </a>
            </div>
            <div class="col-md-2 stretch-card grid-margin">
                <a href="#">
                    <img style="border-radius: 10px !important;" src="{%static 'myboard/images/IU.png'%}" alt="IU" width="200px" height="200px"> 
                </a>
            </div>
            <div class="col-md-2 stretch-card grid-margin">
                <a href="#">
                    <img style="border-radius: 10px !important;" src="{%static 'myboard/images/ed_perfect.png'%}" alt="ED" width="200px" height="200px"> 
                </a>
            </div>
            <div class="col-md-2 stretch-card grid-margin">
                <img style="border-radius: 10px !important;" src="{%static 'myboard/images/bts.png'%}" alt="BTS" width="200px" height="200px"> 
            </div>
            <div class="col-md-2 stretch-card grid-margin">
                <img style="border-radius: 10px !important;" src="{%static 'myboard/images/ts.png'%}" alt="TS" width="200px" height="200px"> 
            </div>
          </div>
          
          <div class="row">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">주간 랭킹</h4>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                            <th>
                                순위
                            </th>
                          <th>
                            가수명
                          </th>
                          <th>
                            곡명
                          </th>
                          <th>
                            경매 상태
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>1</td>
                          <td>
                            <img src="{%static 'myboard/images/faces/face1.jpg'%}" class="mr-2" alt="image">
                            David Grey
                          </td>
                          <td>
                            Not recieved
                          </td>
                          <td>
                            <label class="badge badge-gradient-success">DONE</label>
                          </td>
                        </tr>
                        <tr>
                            <td>2</td>
                          <td>
                            <img src="{%static 'myboard/images/faces/face2.jpg'%}" class="mr-2" alt="image">
                            Stella Johnson
                          </td>
                          <td>
                            High
                          </td>
                          <td>
                            <label class="badge badge-gradient-warning">PROGRESS</label>
                          </td>
                        </tr>
                        <tr>
                            <td>3</td>
                          <td>
                            <img src="{%static 'myboard/images/faces/face3.jpg'%}" class="mr-2" alt="image">
                            Marina Michel
                          </td>
                          <td>
                            One week
                          </td>
                          <td>
                            <label class="badge badge-gradient-info">ON HOLD</label>
                          </td>
                        </tr>
                        <tr>
                            <td>4</td>
                          <td>
                            <img src="{%static 'myboard/images/faces/face4.jpg'%}" class="mr-2" alt="image">
                            John Doe
                          </td>
                          <td>
                            Loosing control
                          </td>
                          <td>
                            <label class="badge badge-gradient-danger">REJECTED</label>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="#">UNTITLED</a>. All rights reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{%static 'myboard/vendors/js/vendor.bundle.base.js'%}"></script>
  <script src="{%static 'vendors/js/vendor.bundle.addons.js'%}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{%static 'js/off-canvas.js'%}"></script>
  <script src="{%static 'js/misc.js'%}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{%static 'js/dashboard.js'%}"></script>
  <!-- End custom js for this page-->
</body>

</html>
