
<!DOCTYPE html>
<html lang="kr">

<head>
  <title>블록체인 음악 스트리밍 :: Untitled</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="Clean responsive bootstrap website template">
  <meta name="author" content="">
  <!-- styles -->

  <link rel="icon" type="image/png" sizes="50x49" href="/static/image/favicon.png">

{% load staticfiles %}
<link rel="stylesheet" href="{% block stylesheet %}{% static 'css/boostrap.css' %}{% endblock %}" />
<link rel="stylesheet" href="{% block extrastyle %}{% endblock %}" />
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/static/css/docs.css" rel="stylesheet">
  <link href="/static/css/prettyPhoto.css" rel="stylesheet">
  <!--<link href="/static/js/google-code-prettify/prettify.css" rel="stylesheet">-->
  <link href="/static/css/flexslider.css" rel="stylesheet">
  <link href="/static/css/refineslide.css" rel="stylesheet">
  <link href="/static/css/font-awesome.css" rel="stylesheet">
  <link href="/static/css/animate.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">

  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/color/default.css" rel="stylesheet">

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="/static/image/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">

  <!-- =======================================================
    Theme Name: Plato
    Theme URL: https://bootstrapmade.com/plato-responsive-bootstrap-website-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>
  <header>
    <!-- Navbar
    ================================================== -->
    <div class="cbp-af-header">
      <div class=" cbp-af-inner">
        <div class="container">
          <div class="row">

            <div class="span4">
              <!-- logo -->
              <div class="logo">
                <h1><a href="/"><img src="/static/image/w_logo.png" style="height:50px;"

                                             align="center"/></a></h1>
                <!-- <img src="assets/img/logo.png" alt="" /> -->
              </div>
              <!-- end logo -->
            </div>

            <div class="span8">
              <!-- top menu -->
              <div class="navbar">
                <div class="navbar-inner">
                  <nav>
                    <ul class="nav topnav">
                      <li class="dropdown">
                        <a href="{% url 'base' %}">회사정보</a>
                        <ul class="dropdown-menu">
                          <li><a href="">회사소개</a></li>
                          <li><a href="">리스너</a></li>
                          <li><a href="">아티스트</a></li>
                          <li><a href="">경매참가자</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#">음원등록</a>
                        <ul class="dropdown-menu">
                          <li><a href="about.html">스트리밍 등록</a></li>
                          <li><a href="pricingtable.html">경매 등록</a></li>
                          <li><a href="fullwidth.html">마이크로페이먼트 등록</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#">스트리밍</a>
                        <ul class="dropdown-menu">
                          <li><a href="portfolio-2cols.html">가수 검색</a></li>
                          <li><a href="portfolio-3cols.html">곡 검색</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="{% url 'auction:auction_list' %}">저작권 경매</a>
                        <ul class="dropdown-menu">

                          <li><a href="">진행중 경매</a></li>
                          <li><a href="">마감된 경매</a></li>
                          <li><a href="">유저간 거래</a></li>
                        </ul>
                      </li>
                      <li>
                        <li class="dropdown">
                        <a href="#">마이크로페이먼트</a>
                        <ul class="dropdown-menu">

                          <li><a href="blog_right_sidebar.html">가수 검색</a></li>
                          <li><a href="post_left_sidebar.html">곡 검색</a></li>
                        </ul>
                      </li>
                        <li class="dropdown">
                        <a href="#">마이앨범</a>
                        <ul class="dropdown-menu">
                          <li><a href="blog_left_sidebar.html">스트리밍 리스트</a></li>
                          <li><a href="blog_right_sidebar.html">보유 저작권</a></li>
                          <li><a href="post_left_sidebar.html">마이크로 음원</a></li>
                          <li><a href="post_left_sidebar.html">구매내역</a></li>
                        </ul>
                      </li>

                      <li>
                        <a href="{% url 'login' %}">로그인</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              <!-- end menu -->
            </div>

          </div>
        </div>
      </div>
    </div>
  </header>

  {% block content %}{% endblock %}






  {% block footer %}{% endblock %}



  {% load staticfiles %}
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/modernizr.js"></script>
  <script src="/static/js/jquery.easing.1.3.js"></script>
  <script src="/static/js/google-code-prettify/prettify.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/jquery.prettyPhoto.js"></script>
  <script src="/static/js/portfolio/jquery.quicksand.js"></script>
  <script src="/static/js/portfolio/setting.js"></script>
  <script src="/static/js/hover/jquery-hover-effect.js"></script>
  <script src="/static/js/jquery.flexslider.js"></script>
  <script src="/static/js/classie.js"></script>
  <script src="/static/js/cbpAnimatedHeader.min.js"></script>
  <script src="/static/js/jquery.refineslide.js"></script>
  <script src="/static/js/jquery.ui.totop.js"></script>

  <!-- Template Custom Javascript File -->
  <script src="/static/js/custom.js"></script>

</body>
</html>
