
<!DOCTYPE html>
<html lang="kr">

<head>
  <title>블록체인 음악 스트리밍 :: Untitled</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="Clean responsive bootstrap website template">
  <meta name="author" content="">
  <!-- styles -->
  <link rel="icon" type="image/png" sizes="50x49" href="/static/image/favicon.png">
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/static/css/docs.css" rel="stylesheet">
  <link href="/static/css/prettyPhoto.css" rel="stylesheet">
  <link href="/static/css/prettify.css" rel="stylesheet">
  <link href="/static/css/flexslider.css" rel="stylesheet">
  <link href="/static/css/refineslide.css" rel="stylesheet">
  <link href="/static/css/font-awesome.css" rel="stylesheet">
  <link href="/static/css/animate.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">

  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/color/default.css" rel="stylesheet">

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="/static/image/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">

  <!-- =======================================================
    Theme Name: Plato
    Theme URL: https://bootstrapmade.com/plato-responsive-bootstrap-website-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>
  <header>
    <!-- Navbar
    ================================================== -->
    <div class="cbp-af-header">
      <div class=" cbp-af-inner">
        <div class="container">
          <div class="row">

            <div class="span4">
              <!-- logo -->
              <div class="logo">
                <h1><a href=""><img src="/static/image/w_logo.png" style="height:50px;"

                                             align="center"/></a></h1>
                <!-- <img src="assets/img/logo.png" alt="" /> -->
              </div>
              <!-- end logo -->
            </div>

            <div class="span8">
              <!-- top menu -->
              <div class="navbar">
                <div class="navbar-inner">
                  <nav>
                    <ul class="nav topnav">
                      <li class="dropdown">
                        <a href="#">회사정보</a>
                        <ul class="dropdown-menu">
                          <li><a href="">회사소개</a></li>
                          <li><a href="">리스너</a></li>
                          <li><a href="">아티스트</a></li>
                          <li><a href="">경매참가자</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#">음원등록</a>
                        <ul class="dropdown-menu">
                          <li><a href="about.html">스트리밍 등록</a></li>
                          <li><a href="pricingtable.html">경매 등록</a></li>
                          <li><a href="fullwidth.html">마이크로페이먼트 등록</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#">스트리밍</a>
                        <ul class="dropdown-menu">
                        
                          <li><a href="portfolio-2cols.html">가수 검색</a></li>
                          <li><a href="portfolio-3cols.html">곡 검색</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="{% url 'auction:search' %}">저작권 경매</a>
                        <ul class="dropdown-menu">
  
                          <li><a href="">진행중 경매</a></li>
                          <li><a href="">마감된 경매</a></li>
                          <li><a href="">유저간 거래</a></li>
                        </ul>
                      </li>
                      <li>
                        <li class="dropdown">
                        <a href="#">마이크로페이먼트</a>
                        <ul class="dropdown-menu">
                         
                          <li><a href="blog_right_sidebar.html">가수 검색</a></li>
                          <li><a href="post_left_sidebar.html">곡 검색</a></li>
                        </ul>
                      </li>
                        <li class="dropdown">
                        <a href="#">마이앨범</a>
                        <ul class="dropdown-menu">
                          <li><a href="blog_left_sidebar.html">스트리밍 리스트</a></li>
                          <li><a href="blog_right_sidebar.html">보유 저작권</a></li>
                          <li><a href="post_left_sidebar.html">마이크로 음원</a></li>
                          <li><a href="post_left_sidebar.html">구매내역</a></li>
                        </ul>
                      </li>

                        {% if user.is_active %}

                                <li>{% firstof user.get_short_name user.get_username %}</li>
                                <li><a href="{% url 'password_change' %}">비밀번호 변경</a></li>
                                <li><a href="{% url 'logout' %}">로그아웃</a></li>

                        {% else %}
                                <li><a href="{% url 'login' %}">로그인</a></li>
                                <li><a href="{% url 'register' %}">회원가입</a></li>
                        {% endif %}
{#                        <a href="{% url 'login' %}">로그인</a>#}
                    </ul>
                  </nav>
                </div>
              </div>
              <!-- end menu -->
            </div>

          </div>
        </div>
      </div>
    </div>
  </header>
  <section id="intro">

    <div class="container">
      <div class="row">
        <div class="span6">
          <h2><strong>MUSIC</strong></h2>
          <h2><span class="highlight primary">STREMING</h2>
          <h2><span class="highlight primary">AUCTION</h2>
          <h2><span class="highlight primary">MICROPAYMENT</h2>
          <p class="lead">
            Blockchain Music Platform
          </p>
          <ul class="list list-ok strong bigger">
            <li>Peer-to-Peer Music File Distribution Structure</li>
            <li>Protection of Music Copyright</li>
            <li>Right Artist Revenue</li>
          </ul>

        </div>
        <div class="span6">

          <div class="group section-wrap upper" id="upper">
            <div class="section-2 group">
              <ul id="images" class="rs-slider">
                <li class="group">
                  <a href="#">
				            <img src="/static/image/slides/refine/music.png" alt="" />
				        </a>
                </li>
                <li class="group">
                  <a href="#" class="slide-parent">
				            <img src="/static/image/slides/refine/music2.png" alt=""/>
				        </a>
                </li>
                <li class="group">
                  <img src="/static/image/slides/refine/music3.png" alt="" />
                </li>
              </ul>
            </div>
            <!-- /.section-2 -->
          </div>

        </div>
      </div>
    </div>

  </section>
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="features">
            <div class="icon">
              <i class="icon-bg-light icon-circled icon-code icon-5x active"></i>
            </div>
            <div class="features_content">
              <h3>STREAMING SERVICE</h3>
              <p class="left">
                블록체인 기반 스트리밍 서비스
              </p>
              <a href="#" class="btn btn-color btn-rounded"><i class="icon-angle-right"></i> PLAY</a>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="features">
            <div class="icon">
              <i class="icon-bg-dark icon-circled icon-bug icon-5x"></i>
            </div>
            <div class="features_content">
              <h3>COPYRIGHT AUCTION</h3>
              <p class="left">
                아티스트 음원 저작권 소유·정산·판매
              </p>
              <a href="#" class="btn btn-color btn-rounded"><i class="icon-angle-right"></i> PLAY</a>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="features">
            <div class="icon">
              <i class="icon-bg-dark icon-circled icon-android icon-5x"></i>
            </div>
            <div class="features_content">
              <h3>MICROPAYMENT</h3>
              <p class="left">
                음원 전체가 아닌 일부만 결제 가능
              </p>
              <a href="#" class="btn btn-color btn-rounded"><i class="icon-angle-right"></i> PLAY</a>
            </div>
          </div>
        </div>

      </div>

      <!-- blank divider -->
      <div class="row">
        <div class="span12">
          <div class="blank10"></div>
        </div>
      </div>



      <div class="row">
        <div class="span12">
          <span class="cta-box" >
            <div class="cta-text">
              <p><h2>아티스트</h2><a class="btn btn-large btn-rounded btn-color" href="#">
                <i class="icon-chevron-right"></i> choose</a> </p>
          </div>
            </span>
          <span class="cta-box">
            <div class="cta-text">
              <p><h2>리스너</h2><a class="btn btn-large btn-rounded btn-color" href="#">
                <i class="icon-chevron-right"></i> choose</a> </p>
            </div>
          </span>


          <!-- end tagline -->
        </div>
      </div>






    </div>
  </section>
  <!-- Footer
 ================================================== -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="widget">
            <!-- logo -->
            <div class="footerlogo">
              <h6><a href=""><img src="/static/image/logo.png" style="height:25px;" align="left"/></a></h6>
              <!-- <img src="assets/img/logo.png" alt="" /> -->
            </div>
            <!-- end logo -->
            <address>
                <br>
                <br>
				<strong>XXXXX company, Inc.</strong><br>
				 HP education center, 220, Seoun-ro, Seocho-gu,<br>
				  Seoul, Republic of Korea <br>
				<abbr title="Phone">P:</abbr> (02) 000-0000 </address>
          </div>
        </div>
        <div class="span3">
          <div class="widget">
            <h5>고객센터</h5>
            <ul class="list list-ok">
              <li><a href="#">공지사항</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">1:1문의</a></li>
              <li><a href="#">보도자료</a></li>
            </ul>
          </div>
        </div>
        <div class="span3">
          <div class="widget">
            <h5>New Released</h5>
            <div class="flickr_badge">
              <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=34178660@N03"></script>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="span3">
          <div class="widget">
            <h5>Keep updated</h5>
            <p>
              Enter your email to subcribe newsletter
            </p>
            <form>
              <div class="input-append">
                <input class="span2" id="appendedInputButton" type="text">
                <button class="btn btn-color" type="submit">Subscribe</button>
              </div>
            </form>
            <ul class="social-network">
              <li><a href="#"><i class="icon-bg-light icon-facebook icon-circled icon-1x"></i></a></li>
              <li><a href="#" title="Twitter"><i class="icon-bg-light icon-twitter icon-circled icon-1x"></i></a></li>
              <li><a href="#" title="Linkedin"><i class="icon-bg-light icon-linkedin icon-circled icon-1x"></i></a></li>
              <li><a href="#" title="Pinterest"><i class="icon-bg-light icon-pinterest icon-circled icon-1x"></i></a></li>
              <li><a href="#" title="Google plus"><i class="icon-bg-light icon-google-plus icon-circled icon-1x"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="subfooter">
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>
              &copy; Untitled - All right reserved
            </p>
          </div>
          <div class="span6">
            <div class="pull-right">
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Plato
                -->
                Designed by <a href="https://bootstrapmade.com/">Untitled</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/modernizr.js"></script>
  <script src="/static/js/jquery.easing.1.3.js"></script>
  <script src="/static/js/google-code-prettify/prettify.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/jquery.prettyPhoto.js"></script>
  <script src="/static/js/portfolio/jquery.quicksand.js"></script>
  <script src="/static/js/portfolio/setting.js"></script>
  <script src="/static/js/hover/jquery-hover-effect.js"></script>
  <script src="/static/js/jquery.flexslider.js"></script>
  <script src="/static/js/classie.js"></script>
  <script src="/static/js/cbpAnimatedHeader.min.js"></script>
  <script src="/static/js/jquery.refineslide.js"></script>
  <script src="/static/js/jquery.ui.totop.js"></script>

  <!-- Template Custom Javascript File -->
  <script src="/static/js/custom.js"></script>

</body>

</html>
