{% extends "base.html" %}
{% block title %}Untitled:경매{% endblock %}
{% load staticfiles %}
{% block content %}


  <section id="intro">

    <div class="container">
      <div class="row">
        <div class="span6">
          <h2><strong>새로운 시도</strong></h2>
          <h2><span class="highlight primary">Streaming</h2>
          <h2><span class="highlight primary">Auction</h2>
          <h2><span class="highlight primary">Micropayment</h2>
          <p class="lead">
            블록체인 기반 음원 플랫폼
          </p>
          <ul class="list list-ok strong bigger">
            <li>IPFS Music File Distribution Structure</li>
            <li>Protection of Music Copyright</li>
            <li>Right Artist Revenue</li>
          </ul>

        </div>
        <div class="span6">

          <div class="group section-wrap upper" id="upper">
            <div class="section-2 group">
              <ul id="images" class="rs-slider">
                <li class="group">
                  <a href="#">
				            <img src="/static/image/slides/refine/music.png" alt="" />
				        </a>
                </li>
                <li class="group">
                  <a href="#" class="slide-parent">
				            <img src="/static/image/slides/refine/music2.png" alt=""/>
				        </a>
                </li>
                <li class="group">
                  <img src="/static/image/slides/refine/music3.png" alt="" />
                </li>
              </ul>
            </div>
            <!-- /.section-2 -->
          </div>

        </div>
      </div>
    </div>

  </section>
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="features">
            <div class="icon">
              <i class="icon-bg-light icon-circled icon-code icon-5x active"></i>
            </div>
            <div class="features_content">
              <h3>STREAMING SERVICE</h3>
              <p class="left">
                블록체인 기반 스트리밍 서비스
              </p>
              <a href="#" class="btn btn-color btn-rounded"><i class="icon-angle-right"></i> PLAY</a>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="features">
            <div class="icon">
              <i class="icon-bg-dark icon-circled icon-bug icon-5x"></i>
            </div>
            <div class="features_content">
              <h3>COPYRIGHT AUCTION</h3>
              <p class="left">
                아티스트 음원 저작권 소유·정산·판매
              </p>
              <a href="#" class="btn btn-color btn-rounded"><i class="icon-angle-right"></i> PLAY</a>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="features">
            <div class="icon">
              <i class="icon-bg-dark icon-circled icon-android icon-5x"></i>
            </div>
            <div class="features_content">
              <h3>MICROPAYMENT</h3>
              <p class="left">
                음원 전체가 아닌 일부만 결제 가능
              </p>
              <a href="#" class="btn btn-color btn-rounded"><i class="icon-angle-right"></i> PLAY</a>
            </div>
          </div>
        </div>

      </div>

      <!-- blank divider -->
      <div class="row">
        <div class="span12">
          <div class="blank10"></div>
        </div>
      </div>








    </div>
  </section>
  <!-- Footer
 ================================================== -->

            
 
 
<div class="container">
<div class="col-xs-12">

        
    <div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
            <div class="item active">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
    						<div class="fff">
								<div class="thumbnail">
									<a href="#"><img src="/static/image/dra.jpg" alt=""></a>
								</div>
								<div class="caption">
									<h4>아티스트</h4>
									<p>창작자에게 더 많은 수익을 분배하고자 합니다.</p>
									<a class="btn btn-mini" href="#">» Read More</a>
								</div>
                            </div>
                        </li>
                        <li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
									<a href="#"><img src="/static/image/iu.jpg" alt=""></a>
								</div>
								<div class="caption">
									<h4>리스너 / 참여자</h4>
									<p>음원 소비자이자 개인 스토리지를 제공함으로써 참여자가 될 수 있습니다.</p>
									<a class="btn btn-mini" href="#">» Read More</a>
								</div>
                            </div>
                        </li>
                        <li class="col-sm-3">
						
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide1 --> 
         
       
	   <nav>
			
		</nav>
	   <!-- /.control-box -->   
                              
    </div><!-- /#myCarousel -->
        
</div><!-- /.col-xs-12 -->          

    </div>
  </section>

  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/modernizr.js"></script>
  <script src="/static/js/jquery.easing.1.3.js"></script>
  <script src="/static/js/google-code-prettify/prettify.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/jquery.prettyPhoto.js"></script>
  <script src="/static/js/portfolio/jquery.quicksand.js"></script>
  <script src="/static/js/portfolio/setting.js"></script>
  <script src="/static/js/hover/jquery-hover-effect.js"></script>
  <script src="/static/js/jquery.flexslider.js"></script>
  <script src="/static/js/classie.js"></script>
  <script src="/static/js/cbpAnimatedHeader.min.js"></script>
  <script src="/static/js/jquery.refineslide.js"></script>
  <script src="/static/js/jquery.ui.totop.js"></script>

  <!-- Template Custom Javascript File -->
  <script src="/static/js/custom.js"></script>
{% endblock content %}